:root{
   --c1: #222831;
   --c2: #393E46;
   --c3: #00ADB5;
   --c4: #EEEEEE;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   font-family: "Poppins", sans-serif;
   background-color: var(--c1);
}

::-webkit-scrollbar{
   width: 12px;
}
::-webkit-scrollbar-thumb{
   background-color: #00ADB5;
   border-radius: 1px;
}

.sec-head{
   padding-left: 50px;
   margin: 0;
}
.sec-head h1{
   font-size: 45px;
   font-weight: 700;
}

.c1{
   color: var(--c1);
}
.c2{
   color: var(--c2);
}
.c3{
   color: var(--c3);
}
.c4{
   color: var(--c4);
}

/* ---------------------------------------------------------------------- */

.nav{
   background-color: #2b3442;
}

/* start head */
.head{
   padding-top: 100px;
   padding-bottom: 100px;
}
.head .info h2{
   font-size: 70px;
   letter-spacing: 3px;
   margin: 0;
}
.head .info h3{
   font-size: 45px;
   margin: 0;
}
.head .info .btns .btnhire{
   background-color: var(--c3);
   padding: 8px 20px;
   border-radius: 50px;
   font-size: 15px;
   color: var(--c4);
   font-weight: 600;
   text-shadow: 2px 2px 5px black;
   cursor: pointer;
}
.head .info .btns .btncv{
   background-color: var(--c2);
   padding: 8px 20px;
   border-radius: 20px;
   font-weight: 600;
   color: var(--c4);
   font-size: 15px;
   text-shadow: 2px 2px 7px rgb(22, 22, 22);
   cursor: pointer;
}
.head .info img{
   left: -80px;
   top: 30px;
}
.head .group{
   animation: head 4s infinite linear;
}
.head .group img:nth-child(2){
   left: 0;
   bottom: 0;
}
.head i:nth-child(2){
   position: relative;
   left: 50%;
   color: var(--c4);
   bottom: -80px;
   background-color: var(--c2);
   padding: 20px;
   font-weight: 600;
   font-size: 25px;
}
.arrowf{
   text-decoration: none;
   display: block;
   color: white;
   padding: 20px 25px;
   text-align: center;
   background-color: darkslategrey;
   width: fit-content;
   margin: 0 auto;
}
@keyframes head {
   50%{
      transform: translateY(20px);
   }
   100%{
      transform: translateY(-20px);
   }
}
/* end head */

/* ------------------------------------------------- */

/* start about me  */
.about{
   background-color: #2b3442;
   padding: 100px 0;
}
.about .text p{
   max-width: 75%;
   font-size: 17px;
   line-height: 1.7;
   text-align: justify;
   margin: 0 auto 40px;
}
.about .group img:nth-child(2){
   left: 0;
   bottom: 50px;
}
.about > img:nth-last-child(2){
   left: 100px;
   top: 0;
}
.about > img:nth-last-child(1){
   left: 40%;
   top: 60px;
}
.about .container .arrow{
   left: 50%;
   bottom: 20px;
}
@media (max-width: 900px) {
   .head .container h2 {
      font-size: 28px;
   }
   .head .container h3 {
      font-size: 20px;
   }
   .about .container {
      text-align: center;
   }
   .about .container p{
      width: 100%;
      height: 100%;
      margin: 0 auto;
   }
}
@media (max-width: 800px) {
   .about .group img:nth-child(1){
      width: 300px;
   }
   .about .group img:nth-child(2){
      width: 200px;
   }
   .nav .links a{
      font-size: 15px;
   }
   .about .container .arrow{
   left: 45%;
   bottom: -30px;
   width: 100px;
   }

}
/* end about me  */

/* ------------------------------------------------------------- */

/* start skills */
.skills{
   padding: 100px 0;
}
.wrapper {
   margin-top: 3rem;
   width: 90%;
   max-width: 1536px;
   margin-inline: auto;
   height: 100px;
   position: relative;
   overflow: hidden;
   mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
   );
}

@keyframes scrollLeft {
   to {
      left: -200px;
   }
}

@keyframes scrollRight {
   to {
      right: -200px;
   }
}

.itemLeft,
.itemRight {
   width: 100px;
   height: 100px;
   background-color: #84808e;
   border-radius: 6px;
   position: absolute;
   animation-timing-function: linear;
   animation-duration: 20s;
   animation-iteration-count: infinite;
}

.itemLeft {
   left: max(calc(150px * 8), 100%);
   animation-name: scrollLeft;
}

.itemRight {
   right: max(calc(150px * 8), calc(100% + 200px));
   animation-name: scrollRight;
}

.item1 {
   animation-delay: calc(20s / 8 * (8 - 1) * -1);
}

.item2 {
   animation-delay: calc(20s / 8 * (8 - 2) * -1);
}

.item3 {
   animation-delay: calc(20s / 8 * (8 - 3) * -1);
}

.item4 {
   animation-delay: calc(20s / 8 * (8 - 4) * -1);
}

.item5 {
   animation-delay: calc(20s / 8 * (8 - 5) * -1);
}

.item6 {
   animation-delay: calc(20s / 8 * (8 - 6) * -1);
}

.item7 {
   animation-delay: calc(20s / 8 * (8 - 7) * -1);
}

.item8 {
   animation-delay: calc(20s / 8 * (8 - 8) * -1);
}
/* end skills */

/* ------------------------------------------------------------ */

/* start works */
.works{
   background-color: #2b3442;
   padding: 100px 0;
}
.works .container .p{
   background-color: #404d6186;
   padding: 25px;
   border-radius: 10px;
}
.works .container .p .text{
   opacity: 0;
   transition: 0.5s;
   text-transform: capitalize;
}
.works .container .p .text a{
   text-decoration: none;
   color: var(--c3);
   transition: 0.3s;
}
.works .container .p .text a:hover{
   color: #3fccd3;
}
.works .container .p img{
   transition: 0.3s;
}
.works .container .p:hover img{
   filter: blur(5px);
}
.works .container .p:hover .text{
   opacity: 1;
}

/* end works */

/* --------------------------------------------------- */

/* start footer */
.footer a i{
   font-size: 45px;
   color: #b9c1cd;
   transition: .3s;
}
.footer a:hover .face{
   color: #2d86fa;
}
.footer a:hover .linked{
   color: #0f86c6 ;
}
.footer a:hover .whats{
   color: rgb(32, 243, 88);
}
.footer a:hover .github{
   color: rgb(113, 32, 243);
}
/* end footer */
.test{
   font-size: 10px;
}
.test2{
   width: 30px;
}